
<main>
	<article class="container" *ngFor="let article of articleData">
		<img src="http://placecorgi.com/200" alt="Good corgi doggo" class="img--align-left" />
		<h2>{{article.title}}</h2>
		<p>
		
		</p>
		<p>
		{{article.body}}
		</p>
		<h2>The Main Topic</h2>
		<p>
			Liquorice candy macaroon soufflé jelly cake. Macaroon pie sesame snaps
			jelly-o.
		</p>
		<p>
			Liquorice candy macaroon soufflé jelly cake. Candy canes ice. Macaroon
			pie sesame snaps jelly-o.
		</p>
		<h3>A subtopic to the main one</h3>
		<p>
			Candy canes ice cream biscuit marzipan. Macaroon pie sesame snaps
			jelly-o.
		</p>
		<p>
			Liquorice candy macaroon soufflé jelly cake. Macaroon pie sesame snaps
			jelly-o.
		</p>
		<blockquote>
			<p>"Here's a fabulous thing someone said."</p>
			<footer>- <cite>Someone Awesome</cite></footer>
		</blockquote>
	</article>
</main>
